.navbar {
  height: 100px;
  font-family: 'Centra', sans-serif !important;
  display: flex !important; /* 確保 Flex 佈局，避免 Bootstrap 干擾 */
  padding: 0 !important; /* 移除可能的 padding */

  .wrapper {
    
    width: 100%;
    margin: auto;


    .logo {
      height: auto;
      transition: all 0.3s ease-in-out;
    }

    .social {
      display: flex;
      gap: 40px;

      img {
        width: 18px;
        height: 18px;
      }
    }

    /* 在 lg 以下隱藏社群連結，並讓 logo 靠右 */
    @media (max-width: 991px) {
      .social {
        display: none;
      }
      .logo {
        margin-left: auto !important; /* 增加優先級確保靠右 */
      }
    }
  }
}